body,html{
    margin: 0;
    height: 100%;
    background-image: url(../img/fondo.webp);
    background-size: contain;
}
#contenedor{
    display: table;
    height: 500px;
    width: 500px;
}
#contenedorform{
    vertical-align: middle;
    display: table-cell;
}
#form{
    font-family: 'Carter One', cursive;
    margin:10px;
    text-align: center;
    padding-left:50px;
    font-size: 25px;
    color:white;
 }
.titulo{
    background-color:grey;
        margin-bottom:10px;
        font-family: 'Carter One', cursive;
        font-size: 40px;
        color:white;
        text-align: center;
        width: 100;
        height: 100;
}
